body {
  height: 100%;
}

.text-color-default {
  color: @text-color;
}
.text-color-secondary {
  color: @text-color-secondary;
}

.page-wrapper {
  display: flex;
  min-height: 100vh;
}
.fontSize12,
.fontSize12 tr > td span,
.fontSize12 tr > td a,
.fontSize12 tr > td {
  font-size: 0.75rem;
}

/* #region NOTE Modal   */

.ant-modal-confirm-body-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ant-modal-confirm-body > .anticon + .ant-modal-confirm-title + .ant-modal-confirm-content {
  margin-left: 0px;
}

.ant-modal-confirm-body .ant-modal-confirm-content {
  font-size: 1rem;
}

/* #endregion */

.ant-result {
  max-width: 496px;
  padding: @element-large-height;
  border-radius: 20px;
  border: solid 1px #9ea7d0;
  background-color: white;
  border-style: dashed;
}

.ant-result-title {
  font-size: 1.5rem;
  @media only screen and (max-width: 480px) {
    // font-size: 1.25rem;
  }
}
.ant-result-subtitle {
  font-size: 1rem;
  font-weight: 300;
  font-family: myFont-Light;
  text-align: center;
  color: @text-color;
  @media only screen and (max-width: 480px) {
    font-size: 0.75rem;
  }
}

/* NOTE  dung để chỉnh PageTransition */
.page-transition-enter {
  opacity: 0;
}
.page-transition-enter-active {
  opacity: 1;
  transition: opacity 500ms;
}
.page-transition-exit {
  opacity: 1;
}

.page-transition-exit-active {
  opacity: 0;
  transition: opacity 500ms;
}

.pop-height-400 .ant-cascader-menu {
  height: 400px !important;
}

.pop-height-400,
.pop-height-400 .ant-select-dropdown-menu {
  max-height: 400px !important;
}
/* #region   NOTE  ant-select */
.ant-select-lg.custom-select .ant-select-selection--single {
  height: @element-large-height !important;
}
.ant-select-lg.custom-select {
  height: 42px;

  &.ant-select-no-arrow .ant-select-selection__rendered {
    margin-left: @element-large-height !important;
  }

  .ant-select-selection__rendered {
    line-height: @element-large-height !important;
  }
}

.ant-select-lg.custom-select-v2 {
  height: 42px;

  &::selection {
    background: initial;
  }
  &:hover,
  &:focus {
    border: none;
  }
  .selection,
  .ant-select-selection:focus {
    border: none;
    box-shadow: none;
  }

  .ant-select-selection__rendered {
    line-height: @element-large-height !important;
    // margin-left: 0px;
  }

  .ant-select-selection--single {
    border: none;
  }
}

/* #endregion */
/* NOTE  custom css về table */
ul.ant-pagination.ant-table-pagination {
  width: 100%;
  text-align: right;
}

li.ant-pagination-total-text {
  float: left;
}

/* NOTE  custom css về color */
.ant-menu.ant-menu-dark .ant-menu-item-selected,
.ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
  background-image: linear-gradient(to right, #3880ff, #5f98fd);
}

.ant-btn-default {
  color: @text-color-secondary;
}
.ant-btn-danger {
  color: white;
  background-color: @btn-danger-color;
}

.ant-btn-primary {
  background-image: linear-gradient(to right, #3880ff, #5f98fd);
}
.ant-btn-primary span {
  font-family: myFont-Medium;
}
.ant-btn-primary-disabled,
.ant-btn-primary.disabled,
.ant-btn-primary[disabled],
.ant-btn-primary-disabled:hover,
.ant-btn-primary.disabled:hover,
.ant-btn-primary[disabled]:hover,
.ant-btn-primary-disabled:focus,
.ant-btn-primary.disabled:focus,
.ant-btn-primary[disabled]:focus,
.ant-btn-primary-disabled:active,
.ant-btn-primary.disabled:active,
.ant-btn-primary[disabled]:active,
.ant-btn-primary-disabled.active,
.ant-btn-primary.disabled.active,
.ant-btn-primary[disabled].active {
  background-image: linear-gradient(to right, #3880ff, #5f98fd);
  color: white;
  opacity: 0.5;
}

.noPadding {
  padding: 0 !important;
}

.ant-menu-item,
.ant-drawer-title {
  font-family: myFont-Medium;
  font-size: 1rem !important;
}

.menu-mobile.ant-menu-item-selected {
  background-image: linear-gradient(to right, #3880ff, #5f98fd);
  color: #fff;
}

.menu-mobile.ant-menu-item-selected::after {
  border: none;
}

.ant-input-password-icon {
  color: #3880ff;
}

.ant-input::placeholder {
  font-family: myFont-Light;
  color: @text-color-secondary;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #4c4c4c;
  font-weight: bold;
  font-family: myFont-Bold;
}
h4 {
  font-size: 1.125rem;
}
span {
  font-family: myFont-Light;
  font-weight: 300;
}

strong {
  font-family: myFont-Medium;
  font-weight: 500;
}

.ant-input-affix-wrapper .ant-input-prefix {
  font-size: 24px;
}

.ant-input-affix-wrapper .ant-input:not(:first-child) {
  padding-left: @element-large-height !important;
}

/* #region NOTE Button   */
.ant-btn-lg > span {
  font-weight: 500;
  font-family: myFont-Medium;
  font-size: 1rem;
}

.ant-btn-default {
  color: @text-color-secondary;
  border: @border-button-default;
}
/* #endregion */

/* #region NOTE Date Pick step   */
.date-step-item {
  padding: 0px;
  // margin: 5px 10px;
  margin: 5px 0px 5px 0px;
  user-select: none;
  cursor: pointer;
  border: none;
  text-align: center;
  outline: none;

  .ant-avatar {
    background-color: #f2f3f7;
    color: #4c4c4c;
  }
  .date-step-item-textdate {
    color: #9ea7d0;
    font-family: myFont-Light;
  }
  &.active {
    .ant-avatar {
      background-color: #d7e6ff;
      color: #3880ff;
      .ant-avatar-string {
        font-family: myFont-Medium;
      }
    }
    .date-step-item-textdate {
      color: #3880ff;
      font-family: myFont-Light;
    }
  }
}

.date-step-wrapper {
  // width: 420px;
  width: 100%;
}

.date-step-scroll-menu-arrow {
  // padding: 20px;
  margin-bottom: 28px;
  cursor: pointer;

  &.scroll-menu-arrow--disabled {
    opacity: 0.2;
  }
}
/* #endregion */

.rotateimg180 {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.custom-calendar {
  font-family: myFont-Light;
  font-size: 1rem;
  z-index: 9999;
  .ant-calendar-month-panel-month {
    font-family: myFont-Light;
    font-size: 1rem;
  }
  .ant-calendar-month-select {
    margin-right: 8px;
  }

  width: 100%;
  max-width: 355px;
  .ant-calendar {
    width: 100%;
    max-width: 355px;
  }
  .ant-calendar-footer {
    border-top: none;
  }
  .ant-calendar-date {
    font-family: myFont-Light;
  }
  .ant-calendar-my-select {
    font-family: myFont-Medium;
  }
  .ant-calendar-date {
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .ant-calendar-selected-date .ant-calendar-date {
    border-radius: 10px;
    font-weight: 500;
    font-family: myFont-Medium;
    background: #3880ff;
    color: #fff;
  }
  &::selection {
    border-radius: 10px;
  }
  .ant-calendar-disabled-cell .ant-calendar-date,
  .ant-calendar-next-month-btn-day .ant-calendar-date {
    color: #9ea7d0;
    font-weight: 300;
  }
  .ant-calendar-disabled-cell.ant-calendar-selected-day .ant-calendar-date::before {
    content: inherit;
  }
}

.util-space-between {
  display: flex;
  justify-content: space-between;
}

/* #region  NOTE ant-radio   */
.ant-radio {
  &.ant-radio-checked {
    height: 22px;
    width: 22px;
    background: url(/static/images/icon/ic-choice-on.svg) no-repeat;
  }
  .ant-radio-inner {
    opacity: 0;
  }
}

.ant-radio {
  height: 22px;
  width: 22px;
  background: url(/static/images/icon/ic-choice-off.svg) no-repeat;
  .ant-radio-inner {
    opacity: 0;
  }
}
/* #endregion */

.ant-checkbox-inner {
  border-radius: 3px;
  border: solid 1px #9ea7d0;
}
