body {
  height: 100%;
}
.page-wrapper {
  display: flex;
  min-height: 100vh;
}
.fontSize12,
.fontSize12 tr > td span,
.fontSize12 tr > td a,
.fontSize12 tr > td {
  font-size: 12px;
}

/* NOTE  dung để chỉnh PageTransition */
.page-transition-enter {
  opacity: 0;
}
.page-transition-enter-active {
  opacity: 1;
  transition: opacity 500ms;
}
.page-transition-exit {
  opacity: 1;
}

.page-transition-exit-active {
  opacity: 0;
  transition: opacity 500ms;
}

.pop-height-400 .ant-cascader-menu {
  height: 400px !important;
}

.pop-height-400,
.pop-height-400 .ant-select-dropdown-menu {
  max-height: 400px !important;
}

/* NOTE  custom css về table */
ul.ant-pagination.ant-table-pagination {
  width: 100%;
  text-align: right;
}

li.ant-pagination-total-text {
  float: left;
}

/* NOTE  custom css về color */
.ant-menu.ant-menu-dark .ant-menu-item-selected,
.ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
  background-image: linear-gradient(to right, #3880ff, #5f98fd);
}

.ant-btn-primary {
  background-image: linear-gradient(to right, #3880ff, #5f98fd);
}
.ant-btn-primary span {
  font-family: myFont-Medium;
}
.ant-btn-primary-disabled,
.ant-btn-primary.disabled,
.ant-btn-primary[disabled],
.ant-btn-primary-disabled:hover,
.ant-btn-primary.disabled:hover,
.ant-btn-primary[disabled]:hover,
.ant-btn-primary-disabled:focus,
.ant-btn-primary.disabled:focus,
.ant-btn-primary[disabled]:focus,
.ant-btn-primary-disabled:active,
.ant-btn-primary.disabled:active,
.ant-btn-primary[disabled]:active,
.ant-btn-primary-disabled.active,
.ant-btn-primary.disabled.active,
.ant-btn-primary[disabled].active {
  background-image: linear-gradient(to right, #3880ff, #5f98fd);
  color: white;
  opacity: 0.5;
}

.noPadding {
  padding: 0 !important;
}

.ant-menu-item, .ant-drawer-title {
  font-family: myFont-Medium;
}

.menu-mobile.ant-menu-item-selected {
  background-image: linear-gradient(to right, #3880ff, #5f98fd);
  color: #fff;
}

.menu-mobile.ant-menu-item-selected::after {
  border: none;
}

.ant-input-password-icon {
  color: #3880ff;
}

.ant-input::placeholder {
  font-family: myFont-Light;
  color: #9ea7d0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #4c4c4c;
  font-weight: bold;
  font-family: myFont-Bold;
}
span {
  font-family: myFont-Light;
}

strong {
  font-family: myFont-Medium;
}
