@primary-color: #3880ff; // #389e0d;// #52c41a
@link-color: #3880ff;
@text-color: #rgba(0,0,0,.65);
@btn-danger-color: #ff7b66;
@text-color-secondary: #9ea7d0;
@font-size-base: 16px;
@layout-header-height: 70px;
@element-large-height: 40px;
@border-radius-base: 4px;
@border-button-default: solid 1px #9ea7d0;
