@background: linear-gradient(to right, #3880ff, #5f98fd); //linear-gradient(to right, rgb(242, 153, 74), rgb(242, 201, 76));
@background-hover: linear-gradient(to right, #166bfd, #4085fc); //linear-gradient(to left, #ffe259, #ffa751);
@primary-color: #3880ff; // #389e0d;// #52c41a
@link-color:  #3880ff; //#f2c94c;
@text-color: #rgba(0, 0, 0, 0.65);
@btn-danger-color: #ff7b66;
@text-color-secondary: #9ea7d0;
@font-size-base: 14px;
@layout-header-height: 70px;
@element-large-height: 40px;
@border-radius-base: 4px;
@border-button-default: solid 1px #9ea7d0;
